@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf') format('truetype'), url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('../fonts/Montserrat-ExtraBold.woff') format('woff'), url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'), url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Bold.woff2') format('woff2'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?793blr');
    src: url('../fonts/icomoon.eot?793blr#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?793blr') format('truetype'), url('../fonts/icomoon.woff?793blr') format('woff'), url('../fonts/icomoon.svg?793blr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e90d";
    color: #fff;
}

.icon-bond:before {
    content: "\e903";
    color: #4579f5;
}

.icon-pending:before {
    content: "\e906";
}

.icon-people:before {
    content: "\e907";
    color: #ff5e00;
}

.icon-reddit:before {
    content: "\e908";
    color: #fff;
}

.icon-mail:before {
    content: "\e909";
    color: #e0e0ff;
}

.icon-twitter:before {
    content: "\e90a";
    color: #fff;
}

.icon-bolt:before {
    content: "\e90b";
    color: #ffab00;
}

.icon-tag:before {
    content: "\e902";
    color: #f54562;
}

.icon-moon:before {
    content: "\e904";
    color: #f54562;
}

.icon-arrow-down:before {
    content: "\e900";
    color: #e0e0ff;
}

.icon-arrow-right:before {
    content: "\e901";
}

.icon-menu:before {
    content: "\e90c";
    color: #fff;
}

.icon-arrow-left:before {
    content: "\e905";
    color: #e0e0ff;
}

.icon-home:before {
    content: "\e90f";
    color: #e0e0ff;
}

.icon-path:before {
    content: "\e910";
    color: #e0e0ff;
}

.icon-plus:before {
    content: "\e912";
    color: #fff;
}

.icon-power:before {
    content: "\e913";
    color: #f54562;
}

.icon-search:before {
    content: "\e914";
    color: #fff;
}

.icon-share:before {
    content: "\e915";
    color: #fff;
}

.icon-slider:before {
    content: "\e916";
    color: #fff;
}

.icon-source:before {
    content: "\e917";
    color: #e0e0ff;
}

.icon-swap-arrows:before {
    content: "\e918";
    color: #e0e0ff;
}

.icon-star:before {
    content: "\e919";
    color: #fff;
}

.icon-globe:before {
    content: "\e91a";
    color: #e0e0ff;
}

.icon-gear:before {
    content: "\e91b";
    color: #fff;
}

.icon-gate:before {
    content: "\e91c";
    color: #fff;
}

.icon-expand:before {
    content: "\e91d";
    color: #fff;
}

.icon-chart:before {
    content: "\e91e";
    color: #e0e0ff;
}

.icon-copy:before {
    content: "\e91f";
    color: #e0e0ff;
}

.icon-cursor:before {
    content: "\e920";
    color: #fff;
}

.icon-arrow-up:before {
    content: "\e921";
    color: #0fa;
}

.icon-case:before {
    content: "\e922";
    color: #e0e0ff;
}

.icon-archive:before {
    content: "\e923";
    color: #fff;
}

.icon-arrow-under:before {
    content: "\e911";
    color: #f54562;
}

.icon-bitcoin .path1:before {
    content: "\e924";
    color: rgb(247, 147, 26);
}

.icon-bitcoin .path2:before {
    content: "\e925";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-swap:before {
    content: "\e90e";
    color: #fff;
}