$black: #212429;
$darkgrey: #282A2E;
$pink: #F54562;
$green: #00FFAA;
$white: #FFFFFF;
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px);
h1 {
    font-weight: 800;
    font-size: 70px;
    letter-spacing: -.02em;
    color: $white;
    margin-bottom: 72px;
    span {
        background: -webkit-linear-gradient(135deg, #FF5E00 0%, #F54562 54.11%, #C32DE1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -1px;
    color: $white;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -1px;
    color: $white;
}

h4 {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -1px;
    color: $white;
    margin-bottom: 0;
}

p {
    font-weight: 500;
    font-size: 16px;
    color: rgba(224, 224, 255, 0.6);
}

.font-family-second {
    font-family: 'Gilroy', sans-serif;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-18px {
    font-size: 18px;
}

.font-size-48px {
    font-size: 48px;
}

.text-primary {
    color: $pink!important;
}

.text-light {
    color: rgba(224, 224, 255, 0.6)!important;
}

.text-white {
    color: $white!important;
}

.text-success {
    color: $green!important;
}

.text-danger {
    color: $pink!important;
}

.rounded {
    border-radius: 12px!important;
}

.rounded-pills {
    border-radius: 24px!important;
}

.bg-light {
    background: rgba(245, 69, 98, 0.03)!important;
}

.bg-secondary {
    background: rgba(224, 224, 255, 0.02)!important;
}

.bg-dark {
    background: $black!important;
}

.bg-success {
    background: rgba(0, 255, 170, 0.03)!important;
}

.py-72px {
    padding: 72px 0;
}

.p-40px {
    padding: 40px;
}

.pt-192px {
    padding-top: 192px;
}

.mb-32px {
    margin-bottom: 32px;
}

.mb-72px {
    margin-bottom: 72px;
}

.w-70 {
    width: 70%;
}

.w-24 {
    width: 24px;
}

.z-index-1 {
    z-index: 1;
}